.form-container .form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  border: 1px solid;
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  padding: 1rem;
}

.form-container .form-header p {}

.form-container .form-header button {
  background-color: #dae4fa99;
  color: rgba(150, 149, 149, 0.539);
  border: 1px solid lightgray;
  border-radius: 0.6rem;
  width: 5rem;
  text-align: center;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container .form-header button:hover {
  cursor: pointer;
  background-color: #e8fee8b5;
  outline: 0.1rem solid rgb(121, 255, 121);
}