.poip-container {
  width: 80rem;
  height: auto;
  outline: 1px solid;
  padding: 0.5rem;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.poip-container .poip-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  outline: 1px solid;
}

.poip-container .poip-body {
  display: grid;
  grid-template-columns: 45fr 55fr;
  grid-template-areas:
    "inv-pop-image invoices"
    "inv-pop-image pop"
  ;
  gap: 1rem;
  position: relative;
}

.poip-container .poip-body .invoices .header,
.poip-container .poip-body .pop .header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: lightcyan;
}

.poip-container .poip-body .invoices {
  grid-area: invoices;
  outline: 1px solid;
}

.poip-container .poip-body .pop {
  grid-area: pop;
  outline: 1px solid;
}

.poip-container .show {
  visibility: visible;
}

.poip-container .hide {
  visibility:hidden;
}

.poip-container .inv-pop-image {
  grid-area: inv-pop-image;
  position: absolute;
  top: 0;
  left: 0;
}

.poip-container .inv-pop-image img {
  width: 300px;
}
