/* TODO: Introdive css variables */
/* TODO: Split css code imnto own components */

:root {
	--logo-height: 5rem;
	--logo-width: 5rem;
	--logo-priamry-color: rgb(196, 195, 195) ;
	--header-height: 6rem;

	/* forms */
	--form-background: rgb(245, 255, 250);
	--form-label-color: rgba(150, 149, 149, 0.539);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Robonto", sans-serif;
	font-size: 62.5%;
}

body {
	overflow-x: hidden;
	width: 100vw;
	height: 100vh;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.app {
	height: inherit;
}

#root {
	height: inherit;
}

.home,
.bok,
.user,
.user-updated,
.no-page-found,
.users,
.trns,
.erfs,
.bok,
.admin,
.unp,
.signup,
.signin {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid;
	width: 100%;
	height: 100%;
}

.sch {
	position: relative;
	height: inherit;
}

.user-updated,
.user,
.no-page-found,
.asts,
.trns,
.admin {
	flex-direction: column;
}


